{% extends 'layouts/base.html' %}
{% load static %}
{% load hitcount_tags %}



{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-9">
                <div class="bg-body-secondary">
                    <div class="block-title p-2">
                        <span>{{ request.path|slice:"1:-1"|capfirst }}</span>
                    </div>
                </div>

                <div class="row ">
                    {% for post in l %}
                        <div class="col-md-6 col-lg-4">
                            <div class="news">
                                <a href="{% url 'news_detail' post.slug %}">
                                    <img src="{{ post.image.url }}"
                                         alt="img">
                                </a>

                                <a href="{% url 'news_detail' post.slug %}" class="news_title">{{ post.title }}</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>


            </div>

            {% include 'main/recommended.html' %}
        </div>
    </div>
{% endblock %}