{% extends 'layouts/base.html' %}
{% load static %}
{% load hitcount_tags %}



{% block content %}
    <div class="container">
        <div class="row mt-5">

            <div class="new_title" style="width: 260px;">

                <div class="row col-12">
                    <div class="block-title row">
                        <a href="#" class="firs"><span>So‘nggi yangiliklar</span></a>
                    </div>
                    {% for post in news %}
                        <div class="news-lenta">

                            <div class="col text-secondary" style="font-size: smaller">
                                <i class="bi bi-calendar4-event"></i>
                                <span class="mx-1">{{ post.created_at|date:"H:m" }} / {{ post.created_at|date:"d.m.Y" }}</span>
                            </div>
                            <a href="{% url 'news_detail' post.slug %}" style="color: #000000">
                                <p class="news-lenta_title mt-2" style="font-size: small">{{ post.title }}</p>
                            </a>


                        </div>
                    {% endfor %}


                </div>
            </div>

            {% get_hit_count for post_detail as d %}

            <div style="width: 700px; border-left: 1px solid #c9c8c8; margin-left: -22px;">
                <div class="col text-secondary" style="font-size: small">
                    <i class="bi bi-calendar4-event"></i>
                    <span class="mx-1">{{ post_detail.created_at|date:"H:m" }} / {{ post_detail.created_at|date:"d.m.Y" }}</span>
                    <i class="bi bi-eye" style="margin-left: 10px;"></i>
                    <span class="mx-1">{{ d }}</span>
                </div>

                <h4 class="card-title mt-2"><b>{{ post_detail.title }}</b></h4>
                <p class="mt-3" style="font-size: 15px;"><b>{{ post_detail.short_description }}</b></p>
                <img src="{{ post_detail.image.url }}" style="object-fit: cover; width: 680px;">
                <p class="mt-3">{{ post_detail.content|safe }}</p>
                <p style="color: #c9c8c8">
                    ------------------------------------------------------------------------------------------------------------------------------</p>
                {% for tag in post_detail.tagmodel_set.all %}
                    <a href="{% url 'tags' tag.slug 1 %}" style="margin-right: 10px;">#{{ tag.name }}</a>
                {% endfor %}
            </div>


            {% include 'main/recommended.html' %}

            <div class="mt-5">
                <div class="logo">
                    <a class="navbar-brand">
                        <img src="{% static 'main/img/kun-uz-logo.svg' %}" alt="Bootstrap" width="30"
                             height="24">
                        <b style="font-size: 15px;">BIZNES</b>
                    </a>
                </div>
                <div>
                    <div class="col-12">
                        <div class="row mx-auto">
                            {% for post in ads %}
                                <div class="col-3 ">
                                    <div class="news">
                                        <a href="{% url 'news_detail' post.slug %}">
                                            <img src="{{ post.image.url }}"
                                                 alt="img">
                                        </a>


                                        <a href="{% url 'news_detail' post.slug %}"
                                           class="news_title">{{ post.title }}</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <br><br><br><br>
                    </div>
                </div>

            </div>

        </div>
    </div>
{% endblock %}